# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages used in Data Science are:
1. Python
2. R
3. SQL
4. Scala
5. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. ggplot
4. GGally
5. Scikit-learn
6. MatPlotLib

|Data Science tools|
|---|
|Jupyter Notebook|
|R Studio|
|Visual Studio code|

### Below are a few examples of evaluating arithmetic expressions in Python
3+4

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

 **Objectives**
 * Popular data science languages
 * Some of the data science libraries
 * Some data science tools
 * Representing and executing arithmetic operations

## Author
Allaberdi Zinxaydarov